/* ------------- Styling for gerneral use ------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body, html {
  background-color: #efefef;
  color: #292d30;
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

/* ------------- Navbar ------------- */

nav {
  background-color: #fff;
}

nav .nav-title {
  color: #292d30;
  margin-right: 10%;
  float: right;
  padding: 0px;
  font-size: 1em;
}

#logo {
  height: 25%;
  margin-left: 10%;
}

/* ------------- Hero image ------------- */

.hero-image {
  background-image: url("..//images/hero_image.jpg");
  min-height: 400px;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ------------- Headers ------------- */

.red-header {
  text-transform: uppercase;
  color: #e72f4c;
  text-align: center;
  margin-top: 35px;
}

.grey-header {
  text-align: center;
}

p.grey-header {
  margin-left: 25px;
  margin-right: 25px;
}

/* ------------- General buttons ------------- */

.btn-custom-red {
  background-color: #e02a51;
}

.btn-custom-size-large {
  width: 210px;
}

.btn-custom-size-extra-large {
  width: 280px;
}

.btn-large:hover {
  background-color: #e02a51;
}

.btn-large:focus {
  background-color: #e02a51;
}

.btn-spacing {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

.btn-custom-request {
  margin-top: 33px;
  margin-bottom: 33px;
}

.pulse {
  background-color: #e02a51;
}

.btn-large:visited {
  background-color: #e02a51;
}

.hide-default {
  display: none;
}

/* ------------- Homepage contact icons ------------- */

.contact-icons i {
  color: #e02a51;
  font-size: 20px;
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 33px;
}

/* ------------- Homepage modal ------------- */

.modal .modal-footer {
  text-align: center;
}

.modal-content h4 {
  color: #e02a51;
}

a.modal-close {
  color: #e02a51;
  font-size: 16px;
}

/* ------------- Styling for both orms ------------- */

.sample-form {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}
#checkbox  {
  margin-left: 12px;
}

.required {
  color: #e02a51;
  padding-left: 2px;
}

/* For some reason materialize form colors are very hard to overwrite, 
after inspection all of the below must be named to have the wanted color change effect */

input[type=text]:not(.browser-default):focus:not([readonly]), 
input[type=email]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #e02a51;
  -webkit-box-shadow: 0 1px 0 0 #e02a51;
  box-shadow: 0 1px 0 0 #e02a51;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label {
  color: #e02a51;
}

.input-field>label:not(.label-icon).active {
  color: #292d31ab;
}

.input-field .helper-text {
  color: #0000008c;
}

label {
  color: #676b6f;
}

[type="checkbox"]:checked+span:not(.lever):before {
  border-right: 2px solid #e02a51;
  border-bottom: 2px solid #e02a51;
}

.toast {
  background-color: #e02a51;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
}

/* ------------- Creator page content ------------- */

.material-icons {
  color: #e02a51;
}

.upload-file {
  background-color: #fff;
  margin-bottom: 20px;
}

.cutting-edge {
  color: #292d30;
  padding-left: 15px;
  padding-right: 15px;
}

.cutting-edge.material-icons {
  font-size: 17px;
}

.bleed {
  color: #e02a51;
  padding-left: 15px;
  padding-right: 15px;
}

.bleed.material-icons {
  font-size: 17px;
}

.safety-zone {
  color: #949494;
  padding-left: 15px;
  padding-right: 15px;
}

.safety-zone.material-icons {
  font-size: 17px;
}

/* ------------- Creator page canvas ------------- */

#center-template {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#template-div {
  width: 320px;
  height: auto;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
}

#templates {
  width: 320px;
  height: auto;
  padding-right: 0px;
  padding-left: 0px;
}

.template-preview {
  background-color: #fff;
  width: 100%;
  padding-bottom: 50px;
}

.drawing-area {
  position: absolute;
  top: 8px;
  z-index: 10;
  width: 320px;
  height: auto;
}

.canvas-container {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* ------------- Creator radio buttons ------------- */

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
  background-color: #e02a51;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
  border: 2px solid #292d30;
}

/* ------------- Footer ------------- */

.footer-copyright {
  background-color: #fff;
  color: #292d30;
  text-align: center;
  height: 64px;
  line-height: 64px;
}

/* ------------- Media queries ------------- */

@media screen and (max-width: 1024px) {
  #logo {
    height: 17.5%;
  }
}

@media screen and (max-width: 338px) {
  #logo {
    height: 12.5%;
  }
  nav .nav-title {
    font-size: 10px;
  }
  html {
    font-size: 12px;
  }
  .btn-large {
    font-size: 12.5px;
  }
}

@media screen and (max-width: 319.99px) {
  .contact-icons i {
    font-size: 15px;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 16px;
  }
  .btn-large {
    font-size: 16px;
  }
  #center-template {
    height: 440px;
  }
  #template-div {
    width: 720px;
    height: auto;
  }
  #templates {
    width: 720px;
    height: auto;
  }
}